.top-bar {
    width: 100%; /* Full width */
    height: 12vh; 
    background-color: #fee180; /* Background color */
    display: flex;
    align-items: center; /* Vertically center items */
    padding: 0 20px; /* Padding on left and right for spacing */
    position: fixed; /* Fix at the top */
    top: 0;
    left: 0;
    z-index: 1000; /* Make sure it stays on top of other elements */
}

.top-bar-logo {
    height: 70px; 
    transform: translateY(12px);
}